.header {
    height: 620px;
    background-color: #030712;
}

.header_row {
    display: flex;

    height: 68px;
    border: 0px 0px 1px 0px;
    justify-content: space-between;
    align-items: center;

    background-color: #030712;
    color: #D1D5DB;

}

.header_row ul {
    display: flex;
    gap: 24px;
}

.header_row_menu {
    display: flex;
}


.h2 {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #fdfdfafd;
    padding-left: 112px;

}

.dm {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}


.hok {
    font-family: Inter;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.rfgfmrgtjrg {
    padding-left: 48px;
    padding-right: 112px;
    display: inline-flex;
}

.header_main {
    color: #F9FAFB;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.name {
    font-family: Inter;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;

}

.opisanie {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #D1D5DB;


}

.a {
    display: flex;
    align-items: center;
    padding-top: 48px;
}

.kartinka {
    width: 200px;
    height: 320px;

    border-width: 8px;



}

.opisanie,
.name {
    margin-top: 100px;
}

.br {
    color: #f9fafb;
    display: flex;
}

.b {
    display: flex;
    padding-top: 8px;
}

.qwertyuiop {
    padding-top: 96px;
    padding-left: 48%;
}

main {
    background-color: #111827;

}

.asdfghjkl {
    padding-top: 48px;
    width: 400px;
    height: 600px;
    padding-bottom: 50px;

    border-width: 8px;


}

.c {
    font-size: 30px;
    color: #F9FAFB;


    padding-top: 48px;


}

.d {
    font-size: 16px;
    color: #D1D5DB;
    padding-top: 16px;
    word-spacing: 3px;

    list-style-type: circle;


}

.port {
    display: flex;
}

.main_about_me_text {
    padding-left: 192px;

}

.main_skils {
    background-color: #030712;
    color: #faf9fb;
    height: 560px;
    display: flex;
    flex-direction: column;

}

.img_skils {
    background-color: #374151;
    border-radius: 12px;

    height: 28px;
    text-align: center;


}

.skils {

    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-top: 4px;
    color: #D1D5DB;
    padding-left: 20px;
    padding-right: 20px;

}

.main_skils_and_text {
    display: flex;
    justify-content: center;
    padding-top: 96px;

}

.text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 16px;
}

.html {
    height: 100px;
    width: 89px;
}

.css {
    height: 100px;
    width: 64px;
}

.img_html_and_css {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    gap: 86px;
}

.img_html {
    flex-direction: column;
}

.ll {
    font-size: 18px;
    text-align: center;
}

.main_exp {
    height: 1140px;
}

.main_exp_section1 {
    display: flex;
    justify-content: center;


}

.one {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.df {
    font-size: 20px;
    color: #D1D5DB;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 48px;
}

.boat {
    background-color: rgb(31, 41, 55);
    border-radius: 12px;
    border: 1px solid #D1D5DB;
    display: flex;
    justify-content: space-between;
    width: 896px;
    height: 288px;
    padding: 32px;
}

.text_one {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;

}

.text_two {
    width: 384px;
}

.boat_col_3 {
    width: 220px;

}

.sta {
    color: #E5E7EB;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.hop {
    width: 102px;
    height: 28px;

}

.vbn {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #E5E7EB;

}

.il {
    width: 20px;
    height: 20px;
    padding-top: 15px;
}

.main_work {
    background-color: #030712;
    align-items: center;
    height: 1848px;

}

.main_testimonials {
    padding-bottom: 150px;
}

.sections {
    justify-content: center;
    display: flex;

}

.two_div {
    width: 1152px;
    height: 480px;
    border-radius: 12px;
    background-color: #1F2937;
    display: flex;
    box-shadow: 0px 25px 25px 0px #00000026;


}

.gstatic {
    width: 480px;
    height: 240px;
    border-radius: 12px;
    padding: 48px;

}

.Imges {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 576px;
    height: 480px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right-width: 1px;

    background-color: #374151;


}



.i {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.h123456789 {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    padding-top: 48px;
    padding-left: 48px;
    color: #F9FAFB;
}

.wsx {
    color: #D1D5DB;
    font-family: Inter;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0%;
    padding-top: 48px;
    padding-left: 48px;
}

.img_skil {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.main_skils_and_tex {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    gap: 20px;

}

.two_div_2 {
    width: 1152px;
    height: 480px;
    border-radius: 12px;
    background-color: #1F2937;
    display: flex;
    box-shadow: 0px 25px 25px 0px #00000026;
    flex-direction: row-reverse;

}

.Imges_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 576px;
    height: 480px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-right-width: 1px;

    background-color: #374151;

}

.gstatic_2 {
    width: 480px;
    height: 270px;
    border-radius: 12px;
    padding: 48px;
}

.ol {
    width: 64px;
    height: 64px;
    gap: 10px;
    border-radius: 64px;
    padding: 20px;
    background-color: #9CA3AF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;





}

.kartink {
    width: 40px;
    height: 40px;


    padding-left: 11.25px;
    padding-top: 8.25px;

}

.al {
    display: flex;
    justify-content: space-around;
}

.hhh {
    width: 373px;
    height: 428px;
    min-width: 300px;
    gap: 24px;
    border-radius: 12px;
    padding: 48px;
    border-right-width: 1px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;



}

.text1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 250px;


    color: #D1D5DB;

    padding-top: 24px;


}

.hjh {
    color: #00000000;
    width: 200px;
}

.nm {
    font-family: Inter;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #F9FAFB;
    padding-top: 24px;

}

.footer_con {
    background-color: #030712;
    height: 560px;
}

.th {
    display: flex;
    justify-content: center;
}

.zaq {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -2%;
    text-align: center;
    color: #F9FAFB;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

}

.klon {
    width: 37px;
    height: 40px;
}

.th2 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 48px;

}

.tgb {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #D1D5DB;
    padding-bottom: 8px;
}

.gp {

    height: 68px;
    padding-top: 24px;
    padding-right: 80px;
    padding-bottom: 24px;
    padding-left: 80px;
    background-color: #111827;

}

.za {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
    justify-content: center;
    display: flex;
    color: #D1D5DB;
    padding-top: 24px;

}

.rr {
    display: none;
}

@media (max-width:700px) {
    .rr {
        padding: 16px;
        display: flex;
    }
    .dm, .hok {
        display: none;
    }
    .rfgfmrgtjrg {
        display: none;
    }
    .header_main {
        flex-direction: column;
        height: auto;
    }

}