.header {
    height: 620px;
    background-color: #030712;
}

.header_row {
    display: flex;

    height: 68px;
    border: 0px 0px 1px 0px;
    justify-content: space-between;
    align-items: center;

    background-color: #030712;
    color: #D1D5DB;

}

.header_row ul {
    display: flex;
    gap: 24px;
}

.header_row_menu {
    display: flex;
}


.h2 {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #fdfdfafd;
    padding-left: 112px;

}

.dm {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}


.hok {
    font-family: Inter;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.rfgfmrgtjrg {
    padding-left: 48px;
    padding-right: 112px;
    display: inline-flex;
}

.header_main {
    color: #F9FAFB;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.name {
    font-family: Inter;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;

}

.opisanie {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #D1D5DB;


}

.a {
    display: flex;
    align-items: center;
    padding-top: 48px;
}

.kartinka {
    width: 200px;
    height: 320px;

    border-width: 8px;



}

.opisanie,
.name {
    margin-top: 100px;
}

.br {
    color: #f9fafb;
    display: flex;
}

.b {
    display: flex;
    padding-top: 8px;
}

.qwertyuiop {
    padding-top: 96px;
    padding-left: 48%;
}

main {
    background-color: #111827;

}

.asdfghjkl {
    padding-top: 48px;
    width: 400px;
    height: 600px;
    padding-bottom: 50px;

    border-width: 8px;


}

.c {
    font-size: 30px;
    color: #F9FAFB;


    padding-top: 48px;


}

.d {
    font-size: 16px;
    color: #D1D5DB;
    padding-top: 16px;
    word-spacing: 3px;




}

.port {
    display: flex;
}

.main_about_me_text {
    padding-left: 192px;

}

.main_skils {
    background-color: #030712;
    color: #faf9fb;
    height: 560px;
    display: flex;
    flex-direction: column;

}

.img_skils {
    background-color: #374151;
    border-radius: 12px;
    width: 75px;
    height: 28px;
    text-align: center;


}

.skils {

    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-top: 4px;
    color: #D1D5DB;

}

.main_skils_and_text {
    display: flex;
    justify-content: center;
    padding-top: 96px;

}

.text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 16px;
}

.html {
    height: 100px;
    width: 89px;
}

.css {
    height: 100px;
    width: 64px;
}

.img_html_and_css {
    display: flex;
    padding-left: 820px;
    padding-top: 48px;
    gap: 86px;
}

.img_html {
    flex-direction: column;
}

.ll {
    font-size: 18px;
    text-align: center;
}

.main_exp {
    height: 1140px;
}

.df {
    font-size: 20px;
    color: #D1D5DB;
    text-align: center;
    padding-top: 16px;
}

.boat {
    background-color: rgb(31, 41, 55);
    border-radius: 12px;
    border: 1px solid #D1D5DB;
    display: flex;

}

.text_one {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;

}

.hop {
    padding: 32px 762px 228px 32px;
}

.sta {
    text-align: right;
    color: #E5E7EB;
    display: flex;
    padding-left: 725px;
    padding-top: 32px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;


}

.vbn {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #E5E7EB;
    text-align: center;
    padding-top: 32px;

}
.il {
    width: 20px;
    height: 20px;
    padding-top: 15px;
}