.header {
    width: 1 440px;
    height: 68px;
    padding: 16px 80px 16px 80px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    justify-content: space-between;

    background-color: #030712;


}

h2,
p,
h3,
h1,
li,
ol {
    color: #fdfdfd;
}

.h2 {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-bottom: 30px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.dm {
    padding-left: 766px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-bottom: 30px;
}
.main {
    padding-bottom: 100px;
    display: inline-flex;
}
.hok {
    padding-left: 24px;
    text-align: left;
    font-size: 16px;
}
.rfgfmrgtjrg {
    padding-left: 48px;
    display: inline-flex;
}